<div class="card mt100">
    <div class="card-body">
        <h1>Notes App</h1>
        <p>
            This application was created with NodeJs using MongoDB as the database and Handlebars to create the views of
            the application.</p>
    </div>
</div>