<footer class="bg-dark fixed-bottom py-2">
    <div class="container">
        <a class="text-decoration-none text-center" href="/"><p class="text-center text-white-50 my-auto">Notes-App <img src="/img/logo-notes.png" width="30" height="30"></p></a>
    </div>
</footer>